

## Human verification of named entity identification for vbbifolio, page vb_133v_134r

## Persons

