

## Human verification of paelographic observations for vbbifolio, page vb_133v_134r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of paleographic observations in ICT2:

-  [vb_133v_134r](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2325,0.2458,0.006448,0.008498&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2401,0.2452,0.004237,0.01275&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2452,0.2452,0.005895,0.01275&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2507,0.2422,0.005895,0.01396&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2566,0.2440,0.007001,0.007587&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2644,0.2437,0.004974,0.01123&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2714,0.2431,0.006448,0.009105&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2950,0.2385,0.006264,0.01366&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3012,0.2413,0.004422,0.01002&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3060,0.2364,0.009764,0.01366&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3169,0.2404,0.004422,0.01093&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3230,0.2422,0.005158,0.009712&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3281,0.2416,0.003685,0.01002&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3333,0.2416,0.002579,0.009408&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3368,0.2382,0.006632,0.01305&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3425,0.2355,0.007185,0.01487&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3484,0.2370,0.007553,0.01548&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3548,0.2370,0.007738,0.01366&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3618,0.2340,0.007001,0.01396&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3692,0.2401,0.006448,0.008498&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3764,0.2401,0.006448,0.008194&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3819,0.2398,0.004790,0.008194&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3873,0.2382,0.006632,0.01214&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3935,0.2392,0.005527,0.009408&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3990,0.2376,0.01013,0.01700&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.4092,0.2319,0.006632,0.01608&urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.4156,0.2382,0.007553,0.008801)

## Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

| Image     | Reading     |
| :------------- | :------------- |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2325,0.2458,0.006448,0.008498&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2325,0.2458,0.006448,0.008498) | α[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2401,0.2452,0.004237,0.01275&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2401,0.2452,0.004237,0.01275) | ρ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2452,0.2452,0.005895,0.01275&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2452,0.2452,0.005895,0.01275) | γ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2507,0.2422,0.005895,0.01396&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2507,0.2422,0.005895,0.01396) | ει[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2566,0.2440,0.007001,0.007587&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2566,0.2440,0.007001,0.007587) | ω[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2644,0.2437,0.004974,0.01123&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2644,0.2437,0.004974,0.01123) | ν[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2714,0.2431,0.006448,0.009105&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2714,0.2431,0.006448,0.009105) | β[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2780,0.2431,0.006632,0.007891&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891) | α[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2780,0.2431,0.006632,0.007891&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891) | σ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2780,0.2431,0.006632,0.007891&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2780,0.2431,0.006632,0.007891) | ι[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.2950,0.2385,0.006264,0.01366&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.2950,0.2385,0.006264,0.01366) | λ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3012,0.2413,0.004422,0.01002&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3012,0.2413,0.004422,0.01002) | η[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3060,0.2364,0.009764,0.01366&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3060,0.2364,0.009764,0.01366) | εσ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3169,0.2404,0.004422,0.01093&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3169,0.2404,0.004422,0.01093) | ο[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3230,0.2422,0.005158,0.009712&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3230,0.2422,0.005158,0.009712) | σ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3281,0.2416,0.003685,0.01002&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3281,0.2416,0.003685,0.01002) | ο[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3333,0.2416,0.002579,0.009408&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3333,0.2416,0.002579,0.009408) | ι[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3368,0.2382,0.006632,0.01305&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3368,0.2382,0.006632,0.01305) | κ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3425,0.2355,0.007185,0.01487&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3425,0.2355,0.007185,0.01487) | ε[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3484,0.2370,0.007553,0.01548&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3484,0.2370,0.007553,0.01548) | κ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3548,0.2370,0.007738,0.01366&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3548,0.2370,0.007738,0.01366) | λ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3618,0.2340,0.007001,0.01396&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3618,0.2340,0.007001,0.01396) | η[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3692,0.2401,0.006448,0.008498&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3692,0.2401,0.006448,0.008498) | α[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3764,0.2401,0.006448,0.008194&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3764,0.2401,0.006448,0.008194) | τ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3819,0.2398,0.004790,0.008194&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3819,0.2398,0.004790,0.008194) | ο[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3873,0.2382,0.006632,0.01214&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3873,0.2382,0.006632,0.01214) | β[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3935,0.2392,0.005527,0.009408&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3935,0.2392,0.005527,0.009408) | ο[4] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.3990,0.2376,0.01013,0.01700&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.3990,0.2376,0.01013,0.01700) | υλ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.4092,0.2319,0.006632,0.01608&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.4092,0.2319,0.006632,0.01608) | η[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_133v_134r.tif&RGN=0.4156,0.2382,0.007553,0.008801&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_133v_134r@0.4156,0.2382,0.007553,0.008801) | ν[2] | 

